.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #f0f0f0;
}

.topBar {
  background: #f00000;
  padding: 5px;
  border-bottom: 5px solid black;
}

.title {
  margin: 15px;
  text-decoration: underline;
}

.generationTitle {
  margin-bottom: 0px;
}

.generationButtons {
  display: flex;
  justify-content: center;
}

.generationButtons button {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
  font-size: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #909090
}

.generationButtons button:hover {
  cursor: pointer;
}

@media (max-width: 500px) {
  .title {
    background: #f00000;
    padding: 5px;
    text-align: center;
  }
}
